@use "../../assets/styles/media-query.scss";
$height: 15rem;
.nav-ease-enter-done {
  max-height: $height !important;
  display: block !important;
  @include media-query.md {
    display: flex !important;
  }
}

.nav-ease-enter {
  display: block !important;
}
.nav-ease-enter-active {
  max-height: $height !important;
}

.nav-ease-exit {
  display: block !important;
}

.backdrop-fade-enter-done {
  opacity: 1;
  display: block;
}

.backdrop-fade-enter {
  display: block;
}
.backdrop-fade-enter-active {
  opacity: 1;
  // transition: max-height 300ms ease;
}

.backdrop-fade-exit {
  display: block;
}
