@use "./variables.scss";
@use "./media-query.scss";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
  font-size: 0.875rem;
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: variables.$clr-neutral-gray;
  background-color: #fafafa;
  position: relative;
  @include media-query.md {
    font-size: 1rem;
  }
}

.header {
  background-image: url("../images/image-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: clamp(18.75rem, 16rem + 10vw, 25rem);
  @include media-query.xmd {
    background-image: url("../images/image-hero-desktop.jpg");
  }
}

.max-width-1100 {
  max-width: 69.19rem;
  width: 87%;
  margin: 0 auto;
}

.max-width-700 {
  max-width: 45.5rem;
  width: 87%;
  margin: 0 auto;
}

.card {
  // padding: 3rem 2.94rem; // Desktop
  padding: 2.25rem 1.44rem;
  background-color: white;
  border-radius: 0.44rem;
  box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.15);
  @include media-query.md {
    padding: 3rem 2.94rem; // Desktop
  }
}

.card-item {
  list-style: none;
  padding: 1.1985rem 1.5rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 0 1px inset
    rgba($color: variables.$clr-neutral-gray, $alpha: 0.25);
  @include media-query.md {
    padding: 2rem;
  }

  > .heading {
    margin-bottom: 1.3125rem;
    @include media-query.md {
      display: flex;
      align-items: baseline;
    }

    .label {
      font-size: 0.875rem;
      font-weight: 700;
      color: variables.$clr-neutral-black;
    }

    .condition {
      font-weight: 500;
      color: variables.$clr-primary-cyan;
    }
  }
}

.main {
  > * + * {
    margin-top: 1.5rem;
  }
}

.App.disable-scroll {
  height: 100vh;
  overflow-y: hidden;
  @include media-query.md {
    height: unset;
    overflow-y: unset;
  }
}
